{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    // [
    //   "react-css-modules",
    //   {
    //     "webpackHotModuleReloading": true,
    //     "generateScopedName": "[path][name]__[local]--[hash:base64:5]",
    //     "filetypes": {
    //       ".less": {
    //         "syntax": "postcss-less"
    //       }
    //     }
    //   }
    // ],
  ],
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 9"
          ]
        },
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    "@babel/preset-react"
  ]
}